<div class="filter-posts">
  <div data-topic="housing">
    <h3>Housing Organization</h3>
    <p><a href="tel:+12345678910">(234) 567-8910</a></p>
    <p>This is the first test item about housing.</p>
  </div>
  <div data-topic="health">
    <h3>Health Organization</h3>
    <p><a href="tel:+12345678910">(234) 567-8910</a></p>
    <p>This is the second test item about health.</p>
  </div>
  <div data-topic="housing">
    <h3>Housing Organization</h3>
    <p><a href="tel:+12345678910">(234) 567-8910</a></p>
    <p>This is the third test item about housing.<p>
  </div>
</div>
